<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>DVS Test Service</title>
    <link rel="stylesheet" href="/css/myam.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="vme-theme--my-bank">
<div class="svg-master"></div>
<div class="vme-modal">
    <div class="vme-modal__message">
        <a href="webflow04-fingerprint-reg02.html" class="vme-modal__message__nav clickable"></a>
        <div class="vme-modal__message__content">Processing your request</div>
    </div>
</div>
<header class="vme-header">
    <div class="vme-header__left vme-header__left--my-bank">
        <!--        <img src="images/my-bank-logo.png" alt="My Bank">-->
    </div>
</header>
<div class="vme-content-panel">
    <h2>Auth response</h2>
    <div class="vme-content-panel__inner">
        <table>
            <tr>
                <th class="vme-content-panel__title">Location url:</th>
                <td class="vme-content-panel__value">
                    <a th:href="${locationUrl}" th:text="${locationUrl}" target="_blank"/>
                </td>
            </tr>
            <tr>
                <th class="vme-content-panel__title">code:</th>
                <td class="vme-content-panel__value" th:text="${code}"></td>
            </tr>
        </table>
    </div>
</div>
<div class="vme-content vme-content--wide">
    <div class="vme-content-panel">
        <h2>JSON Authorization Response</h2>
        <div class="vme-content-panel__inner">
            <textarea disabled id="authResponse" rows="33" cols="40" th:text="${authResponseJson}"></textarea>
        </div>
    </div>
</div>
<form action="/extendedFlow" class="vme-form">
    <div class="vme-content">
        <button class="vme-button clickable vme-button--orange" type="submit">Return</button>
    </div>
</form>
</body>
</html>