<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DVS Test Service</title>
    <link rel="stylesheet" href="/css/myam.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="vme-theme--my-bank">
<div class="svg-master"></div>
<div class="vme-modal">
    <div class="vme-modal__message">
        <a href="webflow04-fingerprint-reg02.html" class="vme-modal__message__nav clickable"></a>
        <div class="vme-modal__message__content">Processing your request</div>
    </div>
</div>
<header class="vme-header">
    <div class="vme-header__left vme-header__left--my-bank">
        <!--        <img src="images/my-bank-logo.png" alt="My Bank">-->
    </div>
</header>
<div class="vme-content-panel">
    <h2>Auth request information</h2>
    <div class="vme-content-panel__inner">
        <table>
            <tr>
                <th class="vme-content-panel__title">User href:</th>
                <td class="vme-content-panel__value" th:text="${userHref}"></td>
            </tr>
        </table>
    </div>
</div>
<!--<div class="vme-content vme-content&#45;&#45;wide">-->
<!--    <div class="vme-content-panel">-->
<!--        <h2>JSON Create Job Response</h2>-->
<!--        <div class="vme-content-panel__inner">-->
<!--            <textarea disabled id="authRequest" rows="33" cols="40" th:text="${userHrefJson}"></textarea>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<form action="#" th:action="@{/extended/authenticate}" class="vme-form" id="login-form" method="POST">
    <div class="vme-content">
        <button class="vme-button clickable vme-button--orange" type="submit">Continue authorization</button>
    </div>
</form>

<!--<script src="js/jquery-3.2.1.min.js"></script>-->
<!--<script src="js/login.js"></script>-->
</body>
</html>
