<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DVS Test Service</title>
    <link rel="stylesheet" href="/css/myam.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="vme-theme--my-bank">
<div class="svg-master"></div>
<div class="vme-modal">
    <div class="vme-modal__message">
        <a href="webflow04-fingerprint-reg02.html" class="vme-modal__message__nav clickable"></a>
        <div class="vme-modal__message__content">Processing your request</div>
    </div>
</div>
<header class="vme-header">
    <div class="vme-header__left vme-header__left--my-bank">
<!--        <img src="images/my-bank-logo.png" alt="My Bank">-->
    </div>
</header>
<!--<div class="vme-content vme-content&#45;&#45;wide">-->
<!--    <div class="vme-content-panel">-->
<!--        <h2>Claims response</h2>-->
<!--        <div class="vme-content-panel__inner">-->
<div class="vme-content-panel">
    <h2>Claims information</h2>
    <div class="vme-content-panel__inner">
            <table>
                <tr>
                    <th class="vme-content-panel__title">Id:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.id}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Client TNX Id:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.clientTnxId}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Applicant Id:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.applicantId}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Nationality:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.onfidoDocumentReport.nationality}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Last Name:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.onfidoDocumentReport.lastName}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Issuing Country:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.onfidoDocumentReport.issuingCountry}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Gender:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.onfidoDocumentReport.gender}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data First Name:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.onfidoDocumentReport.firstName}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Issuing Country:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.onfidoDocumentReport.issuingCountry}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Document Type:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.onfidoDocumentReport.documentType}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Document Numbers:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.onfidoDocumentReport.documentNumbers}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Date of expiry:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.onfidoDocumentReport.dateOfExpiry}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Date of birth:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.onfidoDocumentReport.dateOfBirth}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Address:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.onfidoDocumentReport.address}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Facial Similarity Result:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.facialSimilarity.result}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Onfido Data Facial Similarity Breakdown:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData.facialSimilarity.breakdown}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match Data Request Id:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData.requestId}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match Data Request TS:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData.requestTs}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match Data Line of business:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData.lineOfBusiness}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match Data Match Status:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData.matchStatus}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match Data Given name score:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData.givenNameScore}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match Data Family Name Score:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData.familyNameScore}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match Data Request Birtdate Score:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData.birthdateScore}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match Data Request Postal Code Score:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData.postalCodeScore}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match Data Request Match Score:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData.matchScore}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match Data Request Match Threshold:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData.matchThreshold}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match Data Request App Status Code:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData.appStatusCode}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match Data App Status Desc:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData.appStatusDesc}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Mobile Number:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.enstreamData}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<form action="/extendedFlow" class="vme-form">
    <div class="vme-content">
        <button class="vme-button clickable vme-button--orange" type="submit">Return</button>
    </div>
</form>
</body>
</html>