<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>DVS Test Service</title>
    <link rel="stylesheet" href="/css/myam.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="vme-theme--my-bank">
<div class="svg-master"></div>
<div class="vme-modal">
    <div class="vme-modal__message">
        <a href="webflow04-fingerprint-reg02.html" class="vme-modal__message__nav clickable"></a>
        <div class="vme-modal__message__content">Processing your request</div>
    </div>
</div>
<header class="vme-header">
    <div class="vme-header__left vme-header__left--my-bank">
<!--        <img src="images/my-bank-logo.png" alt="My Bank">-->
    </div>
</header>
<div class="vme-content-panel">
    <h2>Job information</h2>
    <div class="vme-content-panel__inner">
        <table>
            <tr>
                <th class="vme-content-panel__title">Id:</th>
                <td class="vme-content-panel__value" th:text="${jobResponse.id}"></td>
            </tr>
            <tr>
                <th class="vme-content-panel__title">User href</th>
                <td class="vme-content-panel__value" th:text="${jobResponse.userHref}"></td>
            </tr>
            <tr>
                <th class="vme-content-panel__title">Job State:</th>
                <td class="vme-content-panel__value" th:text="${jobResponse.job.state}"></td>
            </tr>
            <tr>
                <th class="vme-content-panel__title">Job Status:</th>
                <td class="vme-content-panel__value" th:text="${jobResponse.job.status}"></td>
            </tr>
            <tr>
                <th class="vme-content-panel__title">Job Start Time:</th>
                <td class="vme-content-panel__value" th:text="${jobResponse.job.startTime}"></td>
            </tr>
            <tr>
                <th class="vme-content-panel__title">Job End Time:</th>
                <td class="vme-content-panel__value" th:text="${jobResponse.job.expiryTime}"></td>
            </tr>
            <tr>
                <th class="vme-content-panel__title">Permission token:</th>
                <td class="vme-content-panel__value" th:text="${jobResponse.permissionToken}"></td>
            </tr>
        </table>
    </div>
</div>
<!-- text area -->
<div class="vme-content vme-content--wide">
    <div class="vme-content-panel">
        <h2>JSON Create Job Response</h2>
        <div class="vme-content-panel__inner">
            <textarea disabled id="createJobResponse" rows="33" cols="40" th:text="${jobResponseJson}"></textarea>
        </div>
    </div>

<form action="/extendedFlow" class="vme-form">
    <div class="vme-content">
        <button class="vme-button clickable vme-button--orange" type="submit">Return</button>
    </div>
</form>
</body>
</html>