<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyBank | Login</title>
    <link rel="stylesheet" href="/css/myam.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="vme-theme--my-bank">
<div class="svg-master"></div>
<div class="vme-modal">
    <div class="vme-modal__message">
        <a href="webflow04-fingerprint-reg02.html" class="vme-modal__message__nav clickable"></a>
        <div class="vme-modal__message__content">Processing your request</div>
    </div>
</div>
<header class="vme-header">
    <div class="vme-header__left vme-header__left--my-bank">
<!--        <img src="images/my-bank-logo.png" alt="My Bank">-->
    </div>
</header>
<div class="vme-content vme-content--wide">
    <div class="vme-content-panel">
        <h2>Claims response</h2>
        <div class="vme-content-panel__inner">
            <table>
                <tr>
                    <th class="vme-content-panel__title">Id:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.id}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Client TNX Id:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.clientTnxId}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Results:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.onfidoSideData}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Match:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.matchData}"></td>
                </tr>
                <tr>
                    <th class="vme-content-panel__title">Mobile Number:</th>
                    <td class="vme-content-panel__value" th:text="${jobClaimResponse.claim.enstreamData}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<form action="/baseFlow" class="vme-form">
    <div class="vme-content">
        <button class="vme-button clickable vme-button--orange" type="submit">Return</button>
    </div>
</form>
</body>
</html>