<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>MyBank | Login</title>
    <link rel="stylesheet" href="/css/myam.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="vme-theme--my-bank">
<div class="svg-master"></div>
<div class="vme-modal">
    <div class="vme-modal__message">
        <a href="webflow04-fingerprint-reg02.html" class="vme-modal__message__nav clickable"></a>
        <div class="vme-modal__message__content">Processing your request</div>
    </div>
</div>
<header class="vme-header">
    <div class="vme-header__left vme-header__left--my-bank">
`<!--        <img src="images/my-bank-logo.png" alt="My Bank">-->
    </div>
</header>
<div class="vme-content-panel">
    <h2>Token information</h2>
    <div class="vme-content-panel__inner">
        <table>
            <tr>
                <th class="vme-content-panel__title">Access token:</th>
                <td class="vme-content-panel__value" th:text="${token.accessToken}"></td>
            </tr>
            <tr>
                <th class="vme-content-panel__title">Id token:</th>
                <td class="vme-content-panel__value" th:text="${token.idToken}"></td>
            </tr>
            <tr>
                <th class="vme-content-panel__title">Token type:</th>
                <td class="vme-content-panel__value" th:text="${token.tokenType}"></td>
            </tr>
            <tr>
                <th class="vme-content-panel__title">Expires in:</th>
                <td class="vme-content-panel__value" th:text="${token.expiresIn}"></td>
            </tr>
            <tr>
                <th class="vme-content-panel__title">Job id:</th>
                <td class="vme-content-panel__value" th:text="${token.jobId}"></td>
            </tr>
            <tr>
                <th class="vme-content-panel__title">Client txn id:</th>
                <td class="vme-content-panel__value" th:text="${token.clientTxnId}"></td>
            </tr>
        </table>
    </div>
</div>
<form action="/baseFlow" class="vme-form">
    <div class="vme-content">
        <button class="vme-button clickable vme-button--orange" type="submit">Return</button>
    </div>
</form>
</body>
</html>